Pyspark 02 - Describe functionality of Dataframes

In [ ]:
#create spark context
from pyspark.sql import SparkSession
sc = SparkSession.builder.appName('simple').getOrCreate()

In [ ]:
#create dataframe from the csv
df_contacts = sc.read.csv('/Users/yashira/Desktop/contacts.csv', header=True)

In [ ]:
#print the schema
df_contacts.printSchema()

By default spark change the data type to `string` for every columns even if it contains `numeric` values. 
We can overcome this by using inferSchema flag to interprite propper datatype for each column

In [ ]:
df_contacts = sc.read.csv('/Users/yashira/Desktop/contacts.csv', header=True, inferSchema=True)

In [ ]:
df_contacts.printSchema()

Selecting column data

In [ ]:
#Fetch given column data value
f_name_df = df_contacts.select('first_name')
f_name_df.show(5)

In [ ]:
#Fetch multiple columns
name_df = df_contacts.select(['first_name', 'last_name'])
name_df.show(5)

Describe Function
- Shows the statics of each column

In [ ]:
df_contacts.describe().show()

Adding, Removing and Renaming columns

In [ ]:
# Add the columns
df_contacts = df_contacts.withColumn('mobile_number23', df_contacts['zip']+2)
df_contacts.show()

In [ ]:
# Drop the columns
df_contacts = df_contacts.drop('mobile_number23') # drop can take list of field to remove multiple fields.
df_contacts.show(5)

In [16]:
# Rename the columns
df_contacts = df_contacts.withColumnRenamed('phone1', 'mobile')
df_contacts.show(5)

+----------+---------+--------------------+--------------------+-----------+----------+-----+-----+------------+------------+--------------------+
|first_name|last_name|        company_name|             address|       city|    county|state|  zip|      mobile|       phone|               email|
+----------+---------+--------------------+--------------------+-----------+----------+-----+-----+------------+------------+--------------------+
|     James|     Butt|   Benton, John B Jr|  6649 N Blue Gum St|New Orleans|   Orleans|   LA|70116|504-621-8927|504-845-1427|     jbutt@gmail.com|
| Josephine|  Darakjy|Chanay, Jeffrey A...| 4 B Blue Ridge Blvd|   Brighton|Livingston|   MI|48116|810-292-9388|810-374-9840|josephine_darakjy...|
|       Art|   Venere| Chemel, James L Cpa|8 W Cerritos Ave #54| Bridgeport|Gloucester|   NJ| 8014|856-636-8749|856-264-4130|      art@venere.org|
|     Lenna| Paprocki|Feltz Printing Se...|         639 Main St|  Anchorage| Anchorage|   AK|99501|907-385-4412|907-921-2010|lpaprocki@hotmail...|
|   Donette|   Foller| Printing Dimensions|        34 Center St|   Hamilton|    Butler|   OH|45011|513-570-1893|513-549-4561|donette.foller@co...|
+----------+---------+--------------------+--------------------+-----------+----------+-----+-----+------------+------------+--------------------+
only showing top 5 rows