Group By and Aggregation

In [2]:
from pyspark.sql import SparkSession

sc = SparkSession.builder.appName('simple').getOrCreate()
contact_df = sc.read.csv('csv/dataset2.csv', header=True, inferSchema=True)

In [3]:
#Using aggregate and groupby
contact_df.groupBy('Name').sum().show()

+-----+--------+---------------+-----------+
| Name|sum(Age)|sum(Experience)|sum(Salary)|
+-----+--------+---------------+-----------+
|Krish|      57|              7|      27000|
| John|      65|             20|     200000|
|Manny|      47|             12|      50000|
+-----+--------+---------------+-----------+

In [4]:
contact_df.groupBy('Name').mean().show()

+-----+--------+---------------+-----------+
| Name|avg(Age)|avg(Experience)|avg(Salary)|
+-----+--------+---------------+-----------+
|Krish|    28.5|            3.5|    13500.0|
| John|    32.5|           10.0|   100000.0|
|Manny|    23.5|            6.0|    25000.0|
+-----+--------+---------------+-----------+

In [5]:
contact_df.groupBy('Name').count().show()

+-----+-----+
| Name|count|
+-----+-----+
|Krish|    2|
| John|    2|
|Manny|    2|
+-----+-----+

In [6]:
contact_df.agg({"Salary" : "min"}).show()

+-----------+
|min(Salary)|
+-----------+
|      12000|
+-----------+